.headerDesign {
    height: 12vh;
    width: 100vw;
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.linkDesign {
    font-weight: bold;
    margin-right: 3em;
    margin-bottom: 3em;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.linkDesign:hover {

    color: greenyellow;

    transition: 0.5s;
}

.leftside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3.5em;
    color: yellowgreen;
}

.appName{
    font-size: xx-large;
    font-weight:500;
    text-decoration:underline;
    margin-left: 1em;
}

.logo{
    width: 4em;
    height: auto;
}